.timer-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: #0000005e;
}

    .timer-modal .modal-dialog {
        max-width: 560px;
        margin: auto;
        background: #fff;
        border-radius: 4px;
        font-family: lato;
        transform: translate(-50%, -50%);
        top: 50%;
        position: absolute;
        left: 50%;
    }

.timer-modal-header {
    padding: 20px;
    text-align: right;
}

.cus_title {
    text-align: center;
    margin: 0;
    font-family: lato;
    font-weight: bold;
    font-size: 20px;
    color: #333333;
}

.close-btn {
    background: none;
    border: none;
    font-size: 30px;
    color: #333;
    cursor: pointer;
    height: 25px;
}

    .close-btn:hover {
        opacity: 1;
    }

.timer-modal-body {
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 16px;
    color: #333333;
}

.timer-modal-footer {
    padding: 5px 20px 40px 20px;
    text-align: center;
}

    .timer-modal-footer button {
        width: 145px;
        height: 38px;
        border: 1px solid #772432 !important;
        font-size: 14px;
        padding: 10px;
        border-radius: 3px;
        font-family: gotham;
        cursor: pointer;
        transition: ease;
        transition-duration: .2s;
        margin: 0 5px;
    }

.sign-in {
    background-color: #772432;
    color: #fff;
}

    .sign-in:hover {
        background-color: #650819;
        color: #fff;
    }

.sign-out {
    border: 1px solid #0000005e !important;
    color: #772432;
    background-color: #fff;
}

.countdown {
    font-size: 24px;
    margin: 0;
    margin-bottom: 25px;
    font-family: lato;
    font-weight: 900;
    text-align: center;
    color: #333;
}

.timer-modal-body a {
    color: #000;
    font-weight: 700;
}

.timer-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: #0000005e;
}

    .timer-modal .modal-dialog {
        width: 560px;
        margin: auto;
        background: #fff;
        border-radius: 4px;
        font-family: lato;
        transform: translate(-50%, -50%);
        top: 50%;
        position: absolute;
        left: 50%;
    }

.timer-modal-header {
    padding: 20px;
    text-align: right;
}

.close-btn {
    background: none;
    border: none;
    font-size: 30px;
    color: #333;
    cursor: pointer;
    height: 25px;
}

    .close-btn:hover {
        opacity: 1;
    }

.logout-modal-body {
    padding: 5px 20px 20px 20px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
    color: #333333;
}

.logout-modal-footer {
    padding: 5px 20px 40px 20px;
    text-align: center;
}


    .logout-modal-footer button {
        width: 145px;
        height: 38px;
        border: 1px solid #772432 !important;
        font-size: 14px;
        padding: 10px;
        border-radius: 3px;
        font-family: gotham;
        cursor: pointer;
        transition: ease;
        transition-duration: .2s;
        margin: 0 5px;
    }



.ok-btn {
    border: 1px solid #0000005e !important;
    color: #772432;
    background-color: #fff;
}
